/* General */
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* Historical Data Form */
.historical-data__form {
  background-color: #acf4e6;
  padding: 35px 15px 15px;
  border-radius: 5px;
  font-size: 20px;
}

.historical-data__form legend {
  font-size: 25px;
}

.MuiTable-root {
  margin-bottom: 20px;
}

/* Social Buttons */
.socials {
  margin: 30px 0;
  text-align: center;
}
.socials__button {
  display: inline-block;
}

.socials__button + .socials__button {
  margin-left: 5px;
}

/* Footer */
footer {
  text-align: center;
}

/* Clock */
.clock-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 200px;
}
.clock {
  display: inline-block;
}

.clock + .clock {
  margin-left: 100px;
}

.clock-label {
  text-align: center;
}

.clock-face-container {
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
}

.clock-face {
  background-size: 88%;
  border-radius: 50%;
  border: 5px solid black;
  display: inline-block;
  margin: 1%;
  position: relative;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: all 2.5s 0.5s cubic-bezier(0.12, 1.03, 0.34, 1);
}

.clock-face::after {
  background: red;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 2%;
  height: 2%;
}

.clock-face:before {
  background: black;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6%;
  height: 6%;
  z-index: 0;
}

.clock-minutes-container,
.clock-hours-container,
.clock-seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clock-hours-container {
  -webkit-animation: rotate 43200s infinite linear;
  animation: rotate 43200s infinite linear;
}

.clock-hours {
  background: #000;
  position: absolute;
  border-radius: 85%/10%;
  width: 2%;
  height: 20%;
  left: 49%;
  top: 30%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.clock-minutes {
  background: #000;
  border-radius: 150%/10%;
  position: absolute;
  width: 2%;
  height: 35%;
  left: 49%;
  top: 15%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.clock-seconds {
  background: red;
  position: absolute;
  z-index: 8;
  border-radius: 200%/10%;
  height: 30%;
  left: 49.5%;
  top: 20%;
  width: 1%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* Media Queries */

/* @media (min-width: 600px){

} */

@media (min-width: 900px) {
  .historical-data {
    display: flex;
  }

  .historical-data .col {
    width: 100%;
  }

  .historical-data .col + .col {
    margin-left: 50px;
  }
}
